---
layout: default
title: 庄朋软件 -- 首页
leo: this is a leo website
---
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="leo-cnote">
      我们坚信餐饮酒店娱乐行业很快将会移动互联网化！
      <hr>
      <h3>下一个被颠覆的可能就会是你所在的行业!</h3>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">{{site.homeDescText1}}</h1>
		<hr>
	</div>
	{% for item1 in site.homeDesc1 %}
	<div class="col-md-6">
		<div class="media">
    		<img src="/static/images/{{item1.imgs}}">
	    	<div class="media-body">
	        	<h4 class="media-heading">{{item1.text1}}</h4>
	        	{{item1.text2}}
	    	</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row leo-row-bg">
	<div class="col-md-12">
		<h1 class="text-center">{{site.homeDescText2}}</h1>
		<hr>
	</div>
	{% for item2 in site.homeDesc2 %}
	<div class="col-md-4 leo-mm">
		<div class="leo-advantage">
			<img src="/static/images/{{item2.imgs}}">
			<div class="leo-advantage-content">
				<h3>{{item2.text1}}</h3>
				<h4>{{item2.text2}}</h4>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row leo-row-bg">
	<div class="col-md-12">
		<h1 class="text-center">{{site.homeDescText3}}</h1>
		<hr>
	</div>
	{% for item3 in site.homeDesc3 %}
	<div class="col-md-3">
		<div class="thumbnail">
            <img class="lazy" src="/static/images/{{item3.imgs}}" width="300" height="150"alt="LESSCSS">
            <div class="caption">
              	<h3> 
                	{{item3.text1}}
              	</h3>
				<p>
					{{item3.text2}}
				</p>
            </div>
	    </div>
	</div>
	{% endfor %}
</div>
