<br>
<br>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">可通过以下联系方式联系到我们：</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading"><h4>地址</h4></div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-edit">  西安市，雁塔路中段 x棟 y层</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading"><h4>电话</h4></div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-earphone">  136-0926-2146</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading"><h4>邮箱</h4></div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-envelope">  xls@qq.com</span>
            </div>
        </div>
    </div>
</div>